<h1>Contact</h1>

<h2>First Name: <%= @contact.first_name %></h2>
<h2>Last Name: <%= @contact.last_name %></h2>
<h2>Email: <%= @contact.email %></h2>

<ul> 
  <% @contact.groups.each do | group | %>
    <li>Group: <%= group.name.capitalize %></li>
  <% end %>
</ul>
<%= button_to "Delete", "/contacts/#{@contact.id}", method: :delete %>
<%= button_to "Edit", "/contacts/#{@contact.id}/edit", method: :get %>